.spinner .spinner-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-top: 5px solid #a1abb5;
    border-bottom: 5px solid #a1abb5;
    border-left: 5px solid #a1abb5;
    border-right: 5px solid #2f75bb;
    animation: circle 1s linear;
    animation-iteration-count: infinite;
}

@keyframes circle {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
}